[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
argcomplete = "==1.12.3"
pathspec = "==0.9.0"
pyyaml = "==5.4.1"
toml = "==0.10.2"
xmltodict = "==0.12.0"
yamllint = "==1.26.3"
yq = "==2.12.2"

[dev-packages]

[requires]
python_version = "3.12"
