---
name: Build Resume
on: [push]
jobs:

  Build-Resume-JSON:
    runs-on: ubuntu-20.04
    steps:
      - name: Check out repository code
        uses: actions/checkout@v2

      - name: Install requirements.txt
        run: pip install -r ${{ github.workspace }}/requirements.txt

      - name: Convert 'resume.yml' to 'resume.json'
        run: cat ${{ github.workspace }}/resume.yml | yq > ${{ github.workspace }}/resume.json

      - name: Create JSON Resume Artifact
        uses: actions/upload-artifact@v2
        with:
          name: resume.json
          path: ${{ github.workspace }}/resume.json

  Resume-Lint:
    needs: Build-Resume-JSON
    runs-on: ubuntu-20.04
    steps:

      - name: Download the resume artifact
        uses: actions/download-artifact@v2
        with:
          name: resume.json

      - name: Install Resume CLI
        run: npm install -g resume-cli

      - name: Validate Resume Schema
        run: resume validate resume.json


  Convert-Resume:
    needs: [Build-Resume-JSON, Resume-Lint]
    runs-on: ubuntu-20.04
    steps:

      - name: Download the resume artifact
        uses: actions/download-artifact@v2
        with:
          name: resume.json

      - name: Install Resume CLI
        run: npm install -g resume-cli

      - name: Install Resume Themes
        run: npm install jsonresume-theme-even jsonresume-theme-eddywashere

      - name: Convert Resume to HTML
        run: resume export resume.html --theme eddywashere --resume resume.json --format html

      - name: Convert Resume to PDF
        # run: resume export resume.html --theme eddywashere --resume resume.json --format html
        run: resume export resume.pdf --resume resume.json --format pdf

      - name: Create HTML Resume Artifact
        uses: actions/upload-artifact@v2
        with:
          name: resume.html
          path: ${{ github.workspace }}/resume.html

      - name: Create PDF Resume Artifact
        uses: actions/upload-artifact@v2
        with:
          name: resume.pdf
          path: ${{ github.workspace }}/resume.pdf
